transformers
peft
pandas
langchain
langchain-text-splitters
fastembed
pinecone-client
langchain-openai
kagglehub
numpy
ipython
langchain-core
python-dotenv
langchain-pinecone
torch
langgraph
typing-extensions